[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
[include mcu.cfg]
[include kinematics.cfg]
[include extruder.cfg]
[include sensors.cfg]
[include outputs.cfg]
#[include kiauh_macros.cfg]
[include klicky-probe.cfg]
[include zcalibration.cfg]
#[include ercf.cfg]
[include stealthburner.cfg]

[idle_timeout]
timeout: 18000

[exclude_object]

[gcode_macro _ENCODER_RUNOUT]
gcode:
    RESPOND PREFIX=tgalarm MSG="Encoder Motion Issue Detected"
    SET_GCODE_VARIABLE MACRO=_ERCF_PAUSE VARIABLE=extruder_temp VALUE={printer.extruder.target}
    M104 S0
    PAUSE

[gcode_macro M600]
gcode:
    RESPOND PREFIX=tgalarm MSG="Change my Colour"
    M118 Colour Change Please
    PAUSE

[gcode_macro WIPE_NOZZLE]
gcode:
    G1 X99 Y258 Z15 F10000
    G1 X99 Y258 Z4 F20000
    G1 X75 Y258 Z4 F20000
    G1 X99 Y258 Z4 F20000
    G1 X75 Y258 Z4 F20000
    G1 X99 Y258 Z4 F20000
    G1 X75 Y258 Z4 F20000
    G1 X99 Y258 Z4 F20000
    G1 X99 Y258 Z15 F20000

[gcode_macro ERCF_SERVO_UP]
gcode:
    _ERCF_SERVO_UP

[gcode_macro ERCF_SERVO_DOWN]
gcode:
    _ERCF_SERVO_DOWN

[gcode_macro ERCF_CALIBRATE_SINGLE]
gcode:
    _ERCF_CALIBRATE_SINGLE TOOL={params.TOOL|default(0)|int}


[respond]
default_type: command

[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E30 F300                    ; load
   G1 E15 F150                    ; prime nozzle with filament
   G1 E110 F150                   ; change nozzle colour
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-90 F1800                  ; retract some, but not too much or it will jam
   M82         


[gcode_macro INITIAL_FEEDER_SPOOL]
variable_initial_spool: 0
gcode:
    {% set spoolnumber = params.SPOOL|default(0)|int %}
        {% if spoolnumber < printer["gcode_macro ERCF_VAR"].colorselector|length %}
             M118 Setting initial spool to {spoolnumber}
            SET_GCODE_VARIABLE MACRO=INITIAL_FEEDER_SPOOL VARIABLE=initial_spool VALUE={spoolnumber}
        {% else %}
            M118 Setting exceeds maximum amount of carts, no change made
            M118 Initial spool number remains cart {printer["gcode_macro INITIAL_FEEDER_SPOOL"].initial_spool|int}
        {% endif %}

[gcode_macro DISPLAY_INITIAL_SPOOL]
gcode:
    M118 Initial spool for print start in cart {printer["gcode_macro INITIAL_FEEDER_SPOOL"].initial_spool|int}

[gcode_macro JAAG]
gcode:
    G28 X Y 
    G1 X10 Y10 F60000
    G1 X240 Y10 F60000
    G1 X10 Y240 F60000
    G1 X240 Y240 F60000

[gcode_macro LOAD_INITIAL_SPOOL]
gcode:
    T{printer["gcode_macro INITIAL_FEEDER_SPOOL"].initial_spool|int}

[delayed_gcode cancelled_print]
gcode:
	SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=cancel_restart VALUE=0

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - PLEASE CUSTOMISE THE SCRIPT
; gcode parameters
# variable_parameter_AREA_START_X : 20
# variable_parameter_AREA_START_Y : 20
# variable_parameter_AREA_END_X : 230
# variable_parameter_AREA_END_Y : 220
# ; the "safe" area that the probe can reach, use value in config->[bed_mesh]
# variable_mesh_min_x :20
# variable_mesh_min_y :20
# variable_mesh_max_x :230
# variable_mesh_max_y :220
# ; the clearance between print area and probe area 
# variable_mesh_area_offset : 5
# ; number of sample per probe point
# variable_probe_samples : 3
# ; mesh matrix size
# variable_mesh_size_x : 6
# variable_mesh_size_y : 6
variable_swapcounter : 0
variable_cancel_restart: 0
gcode:
    {% set REFERENCED_TOOLS = params.REFERENCED_TOOLS|default("")|string %}
    {% set INITIAL_TOOL = params.INITIAL_TOOL|default(0)|int %}
    {% set bed_temp = params.BED_TEMPERATURE|default(80)|float %}
	{% set nozzle_temp = params.NOZZLE_TEMPERATURE|default(180)|float %}
    {% set chamber_temp = params.CHAMBER_TEMPERATURE|default(45)|float %}
    {% set ERCF = params.ERCF|default(0)|float %}

    {% if REFERENCED_TOOLS == "!referenced_tools!" %}
        RESPOND MSG="Happy Hare gcode pre-processor is diabled"
        {% set REFERENCED_TOOLS = INITIAL_TOOL %}
    {% elif REFERENCED_TOOLS == "" %}
        RESPOND MSG="Happy Hare single color print"
        {% set REFERENCED_TOOLS = INITIAL_TOOL %}
    {% endif %}
    CLEAR_PAUSE
    G90
    #SET_GCODE_VARIABLE MACRO=_ERCF_PAUSE VARIABLE=is_paused VALUE=0
    #UPDATE_DELAYED_GCODE ID=disable_heater DURATION=0  
    #SET_GCODE_VARIABLE MACRO=_ERCF_VAR VARIABLE=swap_counts VALUE=0
    SET_PIN PIN=Lights VALUE=1
    RESPOND PREFIX=tgalarm MSG="Print Initialising"
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0.3
    M83
    {% if cancel_restart|int == 1 %}
    MMU_TEST_CONFIG enable_clog_detection=0	
    M104 S0
    G0 X150 Y150 Z20 F15000
    M190 S{bed_temp}
    M109 S{nozzle_temp}

    {% else %}

    BED_MESH_CLEAR
    M106 S0
    M117 Bed Preheating
    M140 S{bed_temp}
    STATUS_HOMING
	G28
    M220 S100
	G0 X125 Y125 Z50 F10000
    M106 S255
    MMU_HOME
    M104 S0
    MMU_CHECK_GATE TOOLS={REFERENCED_TOOLS}
	M190 S{bed_temp}
    M117 Chamber Soaking
    TEMPERATURE_WAIT SENSOR="temperature_sensor enclosure_temp" MINIMUM={chamber_temp}
    M106 S0
    SET_GCODE_OFFSET Z=0
    G28 Z
    STATUS_LEVELING
    Attach_Probe_lock
    M117 Z Tilt Adjusting
    Z_TILT_ADJUST
    STATUS_MESHING
    
    M117 Bed Meshing
    BED_MESH_CALIBRATE		
    G0 X125 Y50 Z50 F10000
    M117 Hotend Heating
    STATUS_HEATING
    M109 S{nozzle_temp}
    STATUS_HOMING
    WIPE_NOZZLE
    G28 Z
    STATUS_CALIBRATING_Z
    M117 Calibrating Z
    CALIBRATE_Z
    Dock_Probe_UNLOCK
    {% endif %}
    M106 S0
    MMU_CHANGE_TOOL STANDALONE=1 TOOL={INITIAL_TOOL}
    WIPE_NOZZLE
    LONG_PURGE_LINE
    MMU_TEST_CONFIG enable_clog_detection=2
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0.5
    STATUS_PRINTING
    RESPOND PREFIX=tgalarm MSG="Print Started"
    M117 Printing...

[gcode_macro SHORT_PURGE_LINE]
gcode:
    STATUS_CLEANING
	G1 Z0.3 X10 Y-1 F10000
    G92 E0
    G1 X130 E18 F2000 #120mm travel with 18mm purge
    G92 E0
    G1 X170 E3.5 F2000 #40mm travel with 3.5mm slow purge
    G92 E0

[gcode_macro LONG_PURGE_LINE]
gcode:
    STATUS_CLEANING
    G1 Z0.3 X10 Y-1 F10000
    G92 E0
    G1 X130 E18 F5000 #120mm travel with 18mm purge
    G92 E0
    G1 X240 E9.6 F5000 #40mm travel with 3.5mm slow purge
    G1 Y-0.2 F10000
    G92 E0
    G1 X10 E30 F5000 #40mm travel with 3.5mm slow purge
    G1 Y0.6 F10000
    G92 E0
    G1 X240 E30 F5000
    G1 Y1.4 F10000
    G92 E0
    G1 X10 E30 F5000
    G92 E0

[gcode_macro SOAK]
gcode:
    M140 S110
    SET_PIN PIN=Lights VALUE=1
    STATUS_HOMING
    G28
    G1 X125 Y125 Z50 F2000
    M106 S255
    STATUS_CLEANING
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0.3

[gcode_macro HOMEPARK]
gcode:
    STATUS_HOMING
    G28
    STATUS_CLEANING
    G1 X125 Y125 Z50 F2000


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script
gcode:
    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    
    #   Check end position to determine safe directions to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}
    
    {% if printer.toolhead.position.z < (max_z - 40) %}
        {% set z_safe = 150 %}
    {% else %}
        {% set z_safe = printer.toolhead.position.z + 10 %}
    {% endif %}

    {% if z_safe > max_z %}
        {% set z_safe = max_z %}
    {% endif %}      

    #  Commence PRINT_END
    M400                             ; wait for buffer to clear
    #SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
    #M104 S0                          ; turn off hotend
    M140 S0                          ; turn off bed
    M106 S0                          ; turn off fan
    G92 E0                           ; zero the extruder
    G1 E-4.0 F3600                   ; retract
    G91
    G0 Z1 F3000                              ; relative positioning
    G0 X{x_safe} Y{y_safe} F20000    ; move nozzle to remove stringing
    G0 Z0.5 F5000
    G90
    G0 X{max_x / 2} Y{max_y} F3600
    G0 Z{z_safe} F3600
    MMU_EJECT
    M104 S0
    #ERCF_EJECT

    G90
    #G0 Z{z_safe} F3000               ; absolute positioning
       ; park nozzle at rear
    M117 Finished!
    RESPOND PREFIX=tgalarm MSG="Print Complete"
    STATUS_READY
    SET_PIN PIN=Lights VALUE=0
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0
    M84    

##	Set RGB values on boot up for each Neopixel. 
##	Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_PIN PIN=Lights VALUE=1
        STATUS_READY

[gcode_macro PRINT_START_MULTI]
variable_swapcounter : 0
gcode:
    M83
    SHORT_PURGE_LINE


[gcode_macro PRINT_END_MULTI]
#   Use PRINT_END for the slicer ending script
gcode:  
    #  Commence PRINT_END
    M400                             ; wait for buffer to clear
    #SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
    G1 X125 Y125 Z30 F20000
    #ERCF_EJECT

[gcode_macro LAYER_ACCEL]
gcode:
  {% set layer = params.LAYER|default(1)|float %}
  {% if layer == 0 %}
    SET_VELOCITY_LIMIT ACCEL=2000
    SET_VELOCITY_LIMIT ACCEL_TO_DECEL=1000
  {% endif %}
  {% if layer == 1 %}
      SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}
      SET_VELOCITY_LIMIT ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
  {% endif %}
  